button{
    padding: 1.8vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-image: linear-gradient(90deg, rgba(52,104,142,1) 0%, rgb(15, 33, 46, 1) 100%);
    background-size: 170%;
    width: 15%;
    color: rgba(226, 226, 226, 0.377);
    border: 0;
    cursor: pointer;
    transition:0.55s;
}
button:hover{
    color: whitesmoke;
    background-position: right;
    box-shadow: 0 0 2.55vh #0F212E;
}
#button-link{
    font-size: 1.023vw;
    color: rgba(226, 226, 226, 0.377);
    transition: 0.55s;
}
#button-link:hover{
    color: whitesmoke;
}
input{
    padding: 1.8vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: 0;
    background-color: rgb(226, 226, 226);
    color: #0F212E;
    border: 0.1vh solid rgb(226, 226, 266);
    width: 40%;
}
input:focus{
    border: 0.1vh solid #33658A;
    box-shadow: 0 0 0.5vh #0F212E;
}
input:hover{
    box-shadow: 0 0 0.5vh #0F212E;
}
#nc{
    font-size: 2vh;
}
.box-form{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: center;
}
textarea{
    padding: 1.8vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: 0;
    background-color: rgb(226, 226, 226);
    color: #0F212E;
    border: 0.1vh solid rgb(226, 226, 266);
    width: 40%;
    height: 55%;
    font-size: 0.95vw;
}




.fill{
    background: rgb(15,33,46);
    background: linear-gradient(90deg, rgba(52,104,142,1) 0%, rgba(15,33,46,1) 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fill2{
    background: rgb(29, 65, 90);
    background: linear-gradient(90deg, rgb(28, 58, 80) 0%, rgb(68, 137, 185) 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}